.input-container {
  position: relative;
  .input {
    height: 50px;
    width: 100%;
    font-size: 20px;
    background: white;
    color: black;
    padding-left: var(--small-padding);
    border: none;
    border-bottom: 1px solid black;
  }

  .error {
    color: red;
    padding-left: var(--small-padding);
  }

  .input-label {
    position: absolute;
    font-size: var(--default-font-size)
  }
  .disabled {
    left: 20px;
    top: 30px;
    opacity: 0;
  }
  .active {
    left: 20px;
    top: 10px;
    opacity: 1;
    transform: translateY(-35px);
    font-size: var(--font-size-small);
    font-weight: normal;
    transition: .2s ease-in;
  }
}