.button-container {
  width: 100%;
  letter-spacing: 0.5px;
  padding: var(--small-padding);
  font-size: 18px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  transition: .3s ease-in;



  @media only screen and ($phone) {
    width: 100%;
  }


  &:disabled {
    background-color: white;
    opacity: 0.4;
    cursor: not-allowed;
    color: black;
  }

  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
    transition: .3s ease-in;
  }

  &.google-sign-in {
    background-color: #4285f4;
    color: white;

    &:hover {
      background-color: #357ae8;
      border: 1px solid black;
    }
  }

  &.inverted {
    background-color: white;
    color: black;
    border: 1px solid black;

    &:hover {
      background-color: black;
      color: white;
      border: none;
    }
  }
}
