.navigation {
	height: 70px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: var(--small-margin) 0 var(--small-margin) 0;
	padding: 0 var(--small-padding) 0 var(--small-padding);

	.logo-container {
		height: 100%;
		width: 70px;
		padding: var(--small-padding);
	}

	.navigation__links {
		width: 50%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	.navigation__burger-icon {
		display: none;
	}
}

.nav-link {
	padding: 10px 15px;
	cursor: pointer;
	display: flex;
	align-items: center;
}


