.sign-in__form {
  display: flex;
  flex-direction: column;
  gap: var(--big-gaps);
  margin-top: var(--medium-margin);
  width: 100%;
  .sign-in__form_buttons {
    display: flex;
    justify-content: space-between;
    gap: 30px;


    @media only screen and ($phone) {
      flex-direction: column;
      gap: 10px;
    }
  }
}